# extends 'admin/admin_base.html'
# import 'macro/utils.html' as utils

# block head
  {{utils.prefetch_link(next_url)}}
# endblock

# block admin_content


  # if col_db
  <h2>{{col_db.name}} <br>
    <small>{{col_db.description}}</small></h2>
  # endif


  <div class="panel panel-default">
    <div class="panel-body">
      <a class="btn btn-sm btn-primary" href="{{url_for('tag_update')}}">
        <span class="fa fa-fw fa-user-plus"></span> New Icon
      </a>

      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-primary" disabled>Limit</button>
        {{utils.filter_by_link('limit', 16)}}
        {{utils.filter_by_link('limit', 64)}}
        {{utils.filter_by_link('limit', 128)}}
        {{utils.filter_by_link('limit', 512)}}
        {{utils.filter_by_link('limit', 1024)}}
      </div>

      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-success" disabled>Public</button>
        {{utils.filter_by_link('public', True, 'thumbs-o-up')}}
        {{utils.filter_by_link('public', False, 'thumbs-o-down')}}
      </div>

      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-info" disabled>Active</button>
        {{utils.filter_by_link('active', True, 'thumbs-o-up')}}
        {{utils.filter_by_link('active', False, 'thumbs-o-down')}}
      </div>
    </div>
  </div>

  <div class="alert alert-warning alert-dismissable {{'hide' if icon_dbs|count > 0}}">
    <a href="{{url_for('icon_list', order='-modified')}}" class="close" title="Remove all filters">&times;</a>
    There are no users matching the filters.
  </div>

  <div class="table-responsive {{'hide' if icon_dbs|count == 0}}">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="text-nowrap">
          <th class="col-xs-4">
##<input id="select-all" type="checkbox"> 
            {{utils.order_by_link('name', 'Name')}} <br>   
            <small>Tags</small></th>
          <th class="col-xs-2">{{utils.order_by_link('modified', 'Modified')}}<br><small>{{utils.order_by_link('created', 'Created')}}</small></th>
          <th class="col-xs-1" title="Icon"><span class="fa fa-picture-o"></span></th>
          <th class="col-xs-1">{{utils.order_by_link('cnt', 'Counter')}}</th>
          <th class="col-xs-2">{{utils.order_by_link('collection', 'Collection')}}</th>
        </tr>
      </thead>
      <tbody>
        # for db in icon_dbs
          <tr id="{{db.key.urlsafe()}}" class="{{'text-muted' if not db.active}}" >
            <td class="name">
              ##<label class="not-link">
                ##<input type="checkbox" name="db" value="{{db.key.urlsafe()}}">
              ##</label>
            <span>{{db.name}}</span>
            <br>
            <small class="text-warning">{{db.key.urlsafe()}}
            <br>
            # set tag_dbs, more = db.get_tags(6)
            # for tag_db in tag_dbs
            <a class="label label-info" style="background-color:{{tag_db.color}}"
              href="{{url_for('tag_update',collection=db.collection,tag=tag_db.name)}}" >
              <span>{{tag_db.name}}<span></a>&nbsp;
            # endfor
            # if more
            <span class="label label-default" >...</span>
            # endif
              <br>
              ##<span class="text-success small"> {{db.replaced_by.urlsafe()}} </span>
            </td>
            <td>
              <time datetime="{{db.modified}}">
                {{db.modified.strftime('%Y-%m-%d')}}
              </time><br>
              <time class="text-success small" datetime="{{db.created}}">
                {{db.created.strftime('%Y-%m-%d')}}
              </time>
            </td>
            <td>
              # set icon=db.key
              # if icon
              <a href="/icon/{{icon.urlsafe()}}" target="_blank" style="display: block;">
                <object type="image/svg+xml" data="/icon/{{icon.urlsafe()}}" class="icon"
                style="width:30px;height:30px;pointer-events: none;"   >
                  <span class="label label-warning">No SVG support<span> <!-- fallback image in CSS -->
                </object>
              </a>
              # else
              <span class=small>add icon</span>
              # endif
            </td>
            <td>
              <a href="{{url_for('collection_user_list',collection=db.key.urlsafe(),order='-modified' )}}" class="">
                {{db.count}} <span class="fa fa-link"></span>
              </a>
            </td>
            <td>
              <a href="{{update_query_argument('collection', db.collection)}}" class="">
                <span class="fa fa-filter"></span>
              </a>
              <span class=small>{{db.collection}}</span>
            </td>
          </tr>
        # endfor
      </tbody>
    </table>
  </div>

  {{utils.next_link(next_url)}}
# endblock
