# extends 'admin/admin_base.html'
# import 'macro/utils.html' as utils
# import 'macro/utils_collection.html' as col_utils

# block head
  {{utils.prefetch_link(next_url)}}
# endblock

# block admin_content


  # if col_db
  <h2>{{col_db.name}} <br>
    <small>{{col_db.description}}</small></h2>
  # endif


  <div class="panel panel-default">
    <div class="panel-body">
      <a class="btn btn-sm btn-primary" href="{{url_for('tag_update')}}">
        <span class="fa fa-fw fa-plus-square"></span> New Tag
      </a>
  # if col_db
      <a class="btn btn-sm btn-success" href="{{url_for('tag_update',col_id=col_db.key.id())}}">
       <span class="fa fa-fw fa-plus-square"></span>
       <span class="">Tag for </span>
       <span class="label label-warning">
       {{col_db.name}}
       </span>
  # endif
      </a>

      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-primary" disabled>Limit</button>
        {{utils.filter_by_link('limit', 16)}}
        {{utils.filter_by_link('limit', 64)}}
        {{utils.filter_by_link('limit', 128)}}
        {{utils.filter_by_link('limit', 512)}}
        {{utils.filter_by_link('limit', 1024)}}
      </div>

      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-success" disabled>Approved</button>
        {{utils.filter_by_link('approved', True, 'thumbs-o-up')}}
        {{utils.filter_by_link('approved', False, 'thumbs-o-down')}}
      </div>

      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-info" disabled>Only</button>
        {{utils.filter_by_link('col_id', 'global', 'globe')}}
      </div>
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-warning" disabled>Category</button>
        {{utils.filter_by_link('category', 'level', is_list=True)}}
        {{utils.filter_by_link('category', 'waypoint', is_list=True)}}
        {{utils.filter_by_link('category', 'route', is_list=True)}}
      </div>
      <div class="btn-group btn-group-sm">
        <a href="{{url_for('tag_list', order=param('order'))}}" class="btn btn-primary" role="button" title="Remove all filters">
          No Filter
        </a>
      </div>
    </div>
  </div>

  <div class="alert alert-warning alert-dismissable {{'hide' if tag_dbs|count > 0}}">
    <a href="{{url_for('tag_list', order='-cnt')}}" class="close" title="Remove all filters">&times;</a>
    There are no users matching the filters.
  </div>

  <div class="table-responsive {{'hide' if tag_dbs|count == 0}}">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="text-nowrap">
          <th class="col-xs-4">
##<input id="select-all" type="checkbox"> 
            {{utils.order_by_link('name', 'Tag')}} <br>   
            <small>{{utils.order_by_link('color', 'Color')}}</small></th>
          <th class="col-xs-2">{{utils.order_by_link('modified', 'Modified')}}<br><small>{{utils.order_by_link('created', 'Created')}}</small></th>
          <th class="col-xs-1" title="Icon"><span class="fa fa-picture-o"></span></th>
          <th class="col-xs-1">{{utils.order_by_link('cnt', 'Counter')}}</th>
          <th class="col-xs-2">{{utils.order_by_link('collection', 'Collection')}}</th>
        </tr>
      </thead>
      <tbody>
        # for db in tag_dbs
          <tr id="{{db.key.urlsafe()}}" class="{{'text-muted' if not db.active}}" >
            <td class="name">
             <h4>
              ##<label class="not-link">
                ##<input type="checkbox" name="db" value="{{db.key.urlsafe()}}">
              ##</label>
            <a class="label label-info" 
              href="{{url_for('tag_update',col_id=db.collection.id(),tag=db.name)}}"
              style="background-color:{{db.color}}">
            <span>{{db.name}}</span>
            </a>&nbsp;
            <small>
            # set rel_dbs, more = db.related(20)
            # for rel_db in rel_dbs
            <a class="label label-info" 
              href="{{url_for('tag_update',col_id=db.collection.id(),tag=rel_db.related_to)}}">
              <span>{{rel_db.related_to}}<span></a>&nbsp;
            # endfor
            # if more
            <span class="label label-default" >...</span>
            # endif
             </small>
             </h4>
              <span class="text-info small"> {{db.color}} </span>
            </td>
            <td>
              <time datetime="{{db.modified}}">
                {{db.modified.strftime('%Y-%m-%d')}}
              </time><br>
              <time class="text-success small" datetime="{{db.created}}">
                {{db.created.strftime('%Y-%m-%d')}}
              </time>
            </td>
            <td>
              # set icon_id=db.get_icon_id()
              # if icon_id
              <a href="/icon/{{icon_id}}" target="_blank" style="display: block;">
                <object type="image/svg+xml" data="/icon/{{icon_id}}" class="icon"
                style="width:40px;height:40px;pointer-events: none;"   >
                  <span class="label label-warning">No SVG support<span> <!-- fallback image in CSS -->
                </object>
              </a>
              <small class="text-info">{{icon_id}}</small>
              # else
              <span class=small>add icon</span>
              # endif
            </td>
            <td>
              <a href="{{url_for('collection_user_list',collection=db.key.urlsafe(),order='-modified' )}}" class="">
                {{db.count}} <span class="fa fa-link"></span>
              </a>
             </td>
             <td>
              # set col_basic = db.get_collection_basic()
              {{col_utils.show_collection_details(col_basic,db.has_permission())}}
             </td>
            </tr>
        # endfor
      </tbody>
    </table>
  </div>

  {{utils.next_link(next_url)}}
# endblock
