# extends 'admin/admin_base.html'
# import 'macro/utils.html' as utils
# import 'macro/utils_collection.html' as col_utils

# block head
  {{utils.prefetch_link(next_url)}}
# endblock

# block admin_content

  # if col_db
  <h2>{{col_db.name}} <br>
    <small>{{col_db.description}}</small></h2>
  # endif


  <div class="panel panel-default">
    <div class="panel-body">
  # if col_db
      <a class="btn btn-sm btn-primary" href="/admin/collection/user/{{col_db.key.urlsafe()}}/add/">
        <span class="fa fa-fw fa-user-plus"></span> Add User
  # endif
      </a>

      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-primary" disabled>Limit</button>
        {{utils.filter_by_link('limit', 16)}}
        {{utils.filter_by_link('limit', 64)}}
        {{utils.filter_by_link('limit', 128)}}
        {{utils.filter_by_link('limit', 512)}}
        {{utils.filter_by_link('limit', 1024)}}
      </div>

      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-success" disabled>Active</button>
        {{utils.filter_by_link('active', True, 'thumbs-o-up')}}
        {{utils.filter_by_link('active', False, 'thumbs-o-down')}}
      </div>

      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-info" disabled>Permission</button>
        {{utils.filter_by_link('permission', 'creator' )}}
        {{utils.filter_by_link('permission', 'admin' )}}
        {{utils.filter_by_link('permission', 'write' )}}
        {{utils.filter_by_link('permission', 'read' )}}
        {{utils.filter_by_link('permission', 'none' )}}
      </div>
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-info" disabled>Only</button>
        {{utils.filter_by_link('col_id', 'global', 'globe')}}
      </div>
      <div class="btn-group btn-group-sm">
        <a href="{{url_for('collection_user_list', order='-modified')}}" class="btn btn-primary" role="button" title="Remove all filters">
          No Filter
        </a>
      </div>
    </div>
  </div>

  <div class="alert alert-warning alert-dismissable {{'hide' if col_usr_dbs|count > 0}}">
    <a href="{{url_for('collection_user_list', order='-modified')}}" class="close" title="Remove all filters">&times;</a>
    There are no users matching the filters.
  </div>

  <div class="table-responsive {{'hide' if col_usr_dbs|count == 0}}">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="text-nowrap">
          <th class="col-xs-2">{{utils.order_by_link('user_name', 'Name')}}<br><small>{{utils.order_by_link('user_username', 'Username')}}</small></th>
          <th class="col-xs-2">{{utils.order_by_link('user_email', 'E-Mail')}}</th>
          <th class="col-xs-1">{{utils.order_by_link('permission', 'Permission')}}</th>
          <th class="col-xs-2">{{utils.order_by_link('modified', 'Modified')}}<br><small>{{utils.order_by_link('created', 'Created')}}</small></th>
          <th class="col-xs-3">{{utils.order_by_link('collection', 'Collection')}}</th>
          <th class="col-xs-1"><input id="select-all" type="checkbox"></th>
        </tr>
      </thead>
      <tbody>
        # for db in col_usr_dbs
          ##<tr id="{{db.key.urlsafe()}}" class="row-link {{'text-muted' if not db.active}}" data-href="{{url_for('collection_update', col_key=db.key.urlsafe())}}">
            <td>
              <a href="{{update_query_argument('user_username', db.user_username)}}" class="">
                <span class="fa fa-filter"></span>
              </a> 
              {{db.user_name}}
              # if current_user.id == db.user.id()
                <span class="fa fa-hand-o-left" title="You"></span>
              # endif
                <br>
              <span class=small>
                  {{db.user_username}}
              </span>
            </td>
            <td>
                {{db.user_email}}
            </td>
            <td class="not-link">
              <a href="{{update_query_argument('permission', db.permission)}}" class="label label-info">{{db.permission}}</a>
              # if not db.active
                <a href="{{update_query_argument('active', False)}}" class="label label-default"><span class="fa fa-ban"></span> inactive</a>
              # endif
            </td>

            <td>
              <time datetime="{{db.modified}}">
                {{db.modified.strftime('%Y-%m-%d')}}
              </time><br>
              <time class="text-success small" datetime="{{db.created}}">
                {{db.created.strftime('%Y-%m-%d')}}
              </time>
            </td>
            <td>
              # set col_basic = db.get_collection_basic()
              {{col_utils.show_collection_details(col_basic,db.has_permission())}}
            </td>
            <td>
              <a href="/admin/collection/user/{{db.collection.urlsafe()}}/remove/{{db.user.urlsafe()}}" class="fa fa-times"></a>
              <label class="not-link">
                <input type="checkbox" name="db" value="{{db.key.urlsafe()}}">
              </label>
            </td>
          </tr>
        # endfor
      </tbody>
    </table>
  </div>

  {{utils.next_link(next_url)}}
# endblock
