# extends 'admin/admin_base.html'
# import 'macro/utils.html' as utils

# block head
  {{utils.prefetch_link(next_url)}}
# endblock

# block admin_content
  <div class="panel panel-default">
    <div class="panel-body">
      <a class="btn btn-sm btn-primary" href="{{url_for('collection_update')}}">
        <span class="fa fa-fw fa-user-plus"></span> New Collection
      </a>

      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-primary" disabled>Limit</button>
        {{utils.filter_by_link('limit', 16)}}
        {{utils.filter_by_link('limit', 64)}}
        {{utils.filter_by_link('limit', 128)}}
        {{utils.filter_by_link('limit', 512)}}
        {{utils.filter_by_link('limit', 1024)}}
      </div>

      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-success" disabled>Public</button>
        {{utils.filter_by_link('public', True, 'thumbs-o-up')}}
        {{utils.filter_by_link('public', False, 'thumbs-o-down')}}
      </div>

      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-info" disabled>Active</button>
        {{utils.filter_by_link('active', True, 'thumbs-o-up')}}
        {{utils.filter_by_link('active', False, 'thumbs-o-down')}}
      </div>
    </div>
  </div>

  <div class="alert alert-warning alert-dismissable {{'hide' if col_dbs|count > 0}}">
    <a href="{{url_for('collection_list', order='-modified')}}" class="close" title="Remove all filters">&times;</a>
    There are no users matching the filters.
  </div>

  <div class="table-responsive {{'hide' if col_dbs|count == 0}}">
    <table class="table table-bordered table-hover">
      <thead>
        <tr class="text-nowrap">
          <th class="col-xs-4"><input id="select-all" type="checkbox"> {{utils.order_by_link('name', 'Name')}}</th>
          <th class="col-xs-2">{{utils.order_by_link('modified', 'Modified')}}<br><small>{{utils.order_by_link('created', 'Created')}}</small></th>
          <th class="text-center" title="Key"><span class="fa fa-key"></span></th>
          <th class="text-center" title="Users"><span class="fa fa-users"></span></th>
        </tr>
      </thead>
      <tbody>
        # for col_db in col_dbs
          <tr id="{{col_db.key.urlsafe()}}" class="row-link {{'text-muted' if not col_db.active}}" data-href="{{url_for('collection_update', col_key=col_db.key.urlsafe())}}">
            <td class="name">
              <label class="not-link">
                <input type="checkbox" name="col_db" value="{{col_db.key.urlsafe()}}">
              </label>
              <span>{{col_db.name}}</span>
              # if current_user.id == col_db.creator.id()
                <span class="fa fa-hand-o-left" title="You"></span>
              # endif
              <br>
              <span class="text-success small"> {{col_db.description}} </span>
            </td>
            <td>
              <time datetime="{{col_db.modified}}">
                {{col_db.modified.strftime('%Y-%m-%d')}}
              </time><br>
              <time class="text-success small" datetime="{{col_db.created}}">
                {{col_db.created.strftime('%Y-%m-%d')}}
              </time>
            </td>
            <td>
              <span class=small>{{col_db.key.urlsafe()}}</span>
            </td>
            <td>
              <a href="{{url_for('collection_user_list',collection=col_db.key.urlsafe(),order='-modified' )}}" class="">
                {{col_db.count}} <span class="fa fa-link"></span>
              </a>
            </td>
          </tr>
        # endfor
      </tbody>
    </table>
  </div>

  {{utils.next_link(next_url)}}
# endblock
